

.navbar {
    height: 747px;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    overflow: hidden;
    @media (min-width:870px){
    display: none;
  } 
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display: block;
    position: relative;
  }
.menu-items {
    display: flex;
  }
.nav-container li {
    list-style: none;
  }
.nav-container a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    padding: 0.7rem;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
  }
.nav-container a:hover{
      font-weight: bolder;
  }
.checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 35px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  } 
.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width:479px){
        top: 16px;
        right: 16px;
      }
  }  
.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
  }
.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  } 
.line2 {
    transition: transform 0.2s ease-in-out;
  }  
.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  } 
.menu-items {
    position: absolute;
    background-color:#252B49;
    // box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    width: 100%;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    
  }
  
.menu-items li {
    margin-bottom: 1.2rem;
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 15px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
  