.favorite{
    position: relative;
    padding: 230px 0px 110px;
    @media (max-width:785px){
        padding: 166px 0px 100px;
    } 
    @media (max-width:566px){
        padding: 169px 0px 69px;
    }
    @media (max-width:508px){
        padding: 193px 0px 93px;
    }
    @media (max-width:389px){
        padding: 56px 0px 53px;
    } 
}
.favorite-background{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 747px;
    @media (max-width:389px){
        height: 574px;
    } 
}
.favorite-background img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; 
}

// .favorite-background img{
//     position: absolute;
//     left: 0;
//     top:0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     @media (max-width:479px){
//         height: 574px;
//     }
// }
.favorite-description{
    @media (max-width:1037px){
        font-size: 36px;
    }
    // padding: 130px 0 120px;
    position: relative;
    z-index: 2;
    max-width: 1015px;
    margin: 0 auto;
   
    &__title{
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        font-family: $raleway;
        margin-bottom: 32px;
        @media (max-width:1037px){
            font-size: 48px;
        }
        @media (max-width:508px){
            font-size: 36px;
        }
        @media (max-width:389px){
            line-height: 58px;
        } 
    }
    &__info{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $white;
        font-family: $raleway;
        margin-bottom: 82px;
        @media (max-width:869px){
            font-size: 18px;
        }
        @media (max-width:508px){
            font-size: 14px;
        }
        @media (max-width:389px){
            margin-bottom: 52px;
        } 
    }
}
    .button{
        display: block;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        font-family: $raleway;
        background-color: #FF4343;
        border: none;
        padding: 29px 92px;
        margin: 0 auto;
        cursor: pointer;
            &:hover{
                background-color: #E71414;
            }
            &:active{
                box-shadow: 4px 4px 30px #FF4343;
            }
        @media (max-width:869px){
            padding: 29px 64px;
        }
      
        @media (max-width:508px){
            padding: 19px 47px;
        }
    }
   