.footer-list{
    background-color: #353C65;
    padding: 70px 0px;
    @media (max-width:592px){
        padding-top: 0;
        padding-bottom: 35px;
    } 
}
.footer-info{
    background-color: #2C3154;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    @media (max-width:592px){
        flex-direction: column;
        align-items: center;
    } 
    
}
.footer-wrapper__item{
    text-align: center;
    max-width: 30%;
    @media (max-width:592px){
        max-width: 100%;
     }
}
.footer-wrapper__item-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 29px;
    @media (max-width:992px){
        font-size: 14px;
    } 
    @media (max-width:592px){
        margin-top: 35px;
    } 
}
.footer-wrapper__item-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    @media (max-width:992px){
        font-size: 14px;
        
    } 
}
.footer-wrapper__item-social{
    max-width: 169px;
    display: flex;
    justify-content: space-between;
    & img{
    margin-top: 21px;
    }
}
.copyright{
    padding: 25px 0;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #808080;
        span{
            color: #FFFFFF;
        }
        @media (max-width:992px){
            font-size: 14px;
        } 
}