.projects-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 379px);
    width: 100%;
    column-gap: 2px; 
    row-gap: 5px;
}
.img-box{
    position: relative;
    cursor: pointer;
}
.img-box img{
    width: 100%;
    height: 100%;
}
.details{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 67, 67, 0.8);
    width: 100%;    
    height: 100%;
    color: $white;
    transform: scale(0); 
}
.detail-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
.detail-content__title{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.detail-content span{
    display: block;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    margin-top: 47px;
}
.img-box:hover .details{
    transform: scale(1);
}
.details:active{
    transform: scale(1);
    background: rgba(185, 12, 12, 0.8);
}
.img-box:nth-child(3){
    border: 2px solid #ffffff;
}