footer{
    background-color: #000000;
}
 .icon-button{
    text-decoration: none;
 }
.icon-button img{
    width: 34.5px;
    height: 34.5px;
 }
.footer-wrap{
    text-align: center;
    padding-top: 45px;
}
.user-actions{
    margin-bottom: 35px;
}
.user-actions a{
    margin-right: 44px;
}
.copyright{
display: inline-block;
font-family: 'Railway';
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: rgba(255, 255, 255, 0.5);
margin-bottom: 27px;
}
