.navigation-list {
    display: flex;
    color:#ffffff;
    font-size: 14px;
    text-align: center;
    margin-left: 300px;
     
}
.navigation-list__item {
    width: 113.80px;
                     
}
.navigation-list__item a {
    text-decoration: none;
    color: #ffffff;
       
}
.logo a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.logo img:first-child {
    margin-left: 115.28px;
    align-items: center;
    height: 30.69px;
    width: 51.81px;
}
.logo img:nth-child(2) {
    height: 30.69px;
    width: 32.17px;
    }
.header-wrap {
    display: flex;
    align-items: center;
    padding: 15px 0;
}
header{
    background-color: #000000;
}

