.favorites{
  padding-top: 119px;
  padding-bottom: 142px;
}
.favorites-title{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #212A2F;
    margin-bottom: 32px;
}
input[type="radio"] {
    display: none;
  }
  .tab-wrap{
    display: flex;
    justify-content: space-between;
    max-width: 526px;
    margin: 0 auto;
  }
  .tab-content{
    display: flex;
    justify-content: space-between;
  }
  .tab-content-wrap{
    max-width: 30%;
  }
  .tab-content__background img{
    max-width: 396px;
    
  }
  .tab {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #212A2F;
    margin-bottom: -1px;
    display: inline-block;
    padding: 10px 35px;
    max-width: 526px;
  }

.tab-separator{
    display: block;
    background: #D3D4D5;
    margin-top: 0px;
    margin-bottom: 30px;
}



.tab-content__background{
  position: relative;
  display: inline-block;
}
.tab-content__buttons{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 36%;
  left: 15%;
 
}
.tab-button:first-child{
  margin-bottom: 21px;
}
.tab-button{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212A2F;
  padding: 16px 80px;
  border: none;
  background-color: #FFFFFF;
}

.tab-description{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.tab-title{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #212A2F;
  border-bottom: solid 1px #D3D4D5;
  max-width: 336px;
  padding-bottom: 10px;
  margin: 17px 0px 16px 30px;
}
.tab-description__text{
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #212A2F;
  text-align: center;
  margin-left: 12px;
}
input:checked + .tab {
  border-bottom: solid 2px #000000;
}
/* input[type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1) {
  display: flex;
}
input[type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2) {
  display: flex;
}
input[type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
  display: flex;
} */

