.form-description{
    padding-bottom: 50px;
 }
.form-wrap{
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.form{
    width: 83%;
    border-bottom: 2px solid #000000;
}
input[type="email"]{
    outline: none;
    border: 0px;
    padding-top: 21px;
 }
 input[type="email"]::placeholder{
    padding-left: 65px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.22); 
 }
 .form-button{
    background-color: #000000;
    color: #ffffff;
    padding: 17px 20px 15px 20px;  
}
.note{
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #74797C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}
.form-description__info{
    display: block;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.subscribe{
    padding: 47px 0px;
}
.subscribe-description__title{
    margin-bottom: 34px;
    text-align: center;
}