.seasons{
    padding: 52px 0 134px 0;
}
.seasons-description{
    margin-bottom: 119px;
}
.seasons-description__title{
    margin-bottom: 54px;
}
.seasons-description__info{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.seasons-description__button{
    text-align: center;  
}
.season-button{
    background: #212A2F;
    border: 2px solid #212A2F;
    border-radius: 2px;
    color:#ffffff;
}
.season-button:first-child{
    padding: 17px 43px 15px 43px;
    margin-right: 24px;
}
.season-button:last-child{
    padding: 17px 29px 15px 29px;
}
.seasons-description__title{
    text-align: center;
}
.season-cart__item{
    max-width: 32%;
}
.season-cart__item--img img{
    max-width: 396px;
    width: 100%;
}
.season-cart__item--img{
    margin-bottom: 17px;
}
.title-card__item{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #212A2F;
    margin-left: 18px;
}
.season-cart__item--text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #212A2F;
    margin-left: 18px;
    margin-right: 18px;
}
.season-cart__wrap{
    display: flex;
    justify-content: space-between;
}


